OLLAMA_API_KEY=your_api_key_here
WORKBOOK_ID=your_workbook_id_here
SHEET_NAME=your_sheet_name_here
CREDENTIALS_FILE="credentials/credentials.json"
SCOPES=["https://www.googleapis.com/auth/spreadsheets"]
GENERATE_PROMPT_FILE="prompts/initial_prompt_creative.txt"
REFINE_PROMPT_FILE="prompts/loop_prompt_creative.txt"
STRUCTURE_PROMPT_FILE="prompts/structure_prompt.txt"
LOGIN_USERS_FILE="auth/users.yaml"
